[submodule "third_party/tgcalls"]
	path = third_party/tgcalls
	url = https://github.com/MarshalX/tgcalls.git
[submodule "third_party/ntgcalls"]
	path = third_party/ntgcalls
	url = https://github.com/pytgcalls/ntgcalls.git
