[Desktop Entry]
Name=tg2sip-webrtc
Exec=tg2sip-webrtc
Comment=TG2SIP-WebRTC Voice Gateway
Terminal=true
Type=Application
Icon=icon
Categories=AudioVideo;